<div class="profile-page page-frame">
  <div class="profile-card card">
    <button class="return" (click)="goBack()">← Return</button>
    <h1>PROFILE</h1>

    <label>
      Username
      <input type="text" [(ngModel)]="editUsername" name="editUsername" [disabled]="!editing">
    </label>

    <label>
      Email
      <input type="email" [(ngModel)]="editEmail" name="editEmail" [disabled]="!editing">
    </label>

    <div class="actions" *ngIf="!editing">
      <button (click)="startEdit()">Edit</button>
    </div>

    <div class="actions" *ngIf="editing">
      <button (click)="cancelEdit()" class="secondary">Cancel</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>

<!--Skipped a few feature like theme and PFP for Phase 2-->
