# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Angular build output
client/dist/
client/.angular/

# Environment variables
.env
*.env.local

# Logs
*.log
npm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp